.error .prefix {
  color: red;
}

.info .prefix {
  color: aqua;
}

.warning .prefix,
.debug .prefix {
  color: yellow;
}

.log .prefix {
  font-style: italic;
}

.prefix {
  text-transform: uppercase;
}

ol {
  display: flex;
  flex-direction: column-reverse;
}

ol li {
  flex: 0 0 auto;
}
